body {
  width: 100%;
  font-family: "Kalam";
  background-color: #fff5d1;
}
body html {
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lobster";
  background-color: #241e4e;
}
header .logo {
  padding-left: 5%;
  display: flex;
  color: #ffd046;
}
header .logo h2 {
  font-size: 2rem;
}
header nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  header nav {
    width: 80%;
  }
}
header nav button {
  font-size: 1.5rem;
  text-decoration: none;
}
button {
  text-align: center;
  background-color: #241e4e;
  color: #ffd046;
  font-family: "Lobster";
  border: none;
  font-size: 1.5rem;
  text-decoration: underline;
  width: 30%;
  height: 50px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  button {
    width: 100%;
    margin-top: 0;
    height: 70px;
    padding-top: 8%;
  }
}
@media (max-width: 1000px) {
  button {
    margin-top: 0%;
    width: 45%;
  }
}
.topContainer {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ce6c47;
}
@media (max-width: 500px) {
  .topContainer {
    flex-direction: column-reverse;
  }
}
.topContainer .half1 {
  width: 50%;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .topContainer .half1 {
    width: 100%;
  }
}
.topContainer .half1 button {
  font-size: 2rem;
  background-color: #ce6c47;
  color: #fff5d1;
}
.topContainer img {
  width: 50%;
}
@media (max-width: 500px) {
  .topContainer img {
    width: 100%;
  }
}
.mdlSection {
  color: #ffd046;
}
.mdlSection ul {
  font-size: 1.5rem;
  padding: 3% 20%;
  line-height: 3;
}
@media (max-width: 500px) {
  .mdlSection ul {
    line-height: 1.5;
  }
}
.mdlSection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media (max-width: 500px) {
  .mdlSection img {
    width: 100%;
  }
}
.endSection {
  width: 85%;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.5rem;
}
.nav2 {
  font-family: "Lobster";
  text-align: center;
  margin-top: 3%;
  font-size: 2rem;
}
.Profile {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.Profile .Person {
  width: 30%;
  min-height: 70vh;
  background: green;
  color: white;
  text-align: center;
  border: 10px solid red;
  border-radius: 25px;
  font-size: 1.5rem;
  font-family: "Lobster";
}
.Profile .Person img {
  width: 100%;
  min-height: 50%;
  border-radius: 25px;
}
.Profile .Person p {
  width: 70%;
  padding: 1%;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  font-family: "Kalam";
  font-size: 1.5rem;
}
