body {
  width: 100%;
  font-family: "Kalam";
  background-color: #fff5d1;
}
body html {
  font-size: 62.5%;
}
button {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Lobster";
  border: none;
  font-size: 1.5rem;
  text-decoration: underline;
  width: 30%;
  height: 50px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  button {
    margin-top: 0%;
    width: 45%;
  }
}
@media (max-width: 500px) {
  button {
    width: 100%;
    margin-top: 0;
    height: 70px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lobster";
  background-color: #ce6c47;
  opacity: 95%;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header .logo {
  padding-left: 5%;
  display: flex;
  color: #fff5d1;
}
@media (max-width: 500px) {
  header .logo {
    align-items: center;
  }
}
header .logo h2 {
  font-size: 2.5rem;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  header nav {
    width: 50%;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 80%;
    flex-direction: column;
  }
}
header nav button {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff5d1;
  background-color: #ce6c47;
}
.topContainer {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(../img/backgroundimg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 40vh;
}
@media (max-width: 500px) {
  .topContainer {
    flex-direction: column-reverse;
  }
}
.topContainer .half1 {
  width: 100%;
  font-size: 1.5rem;
  color: #fff5d1;
  font-size: 3rem;
}
.topContainer .half1 h1 {
  font-family: "Lobster";
}
@media (max-width: 500px) {
  .topContainer .half1 {
    width: 100%;
  }
}
.topContainer .half1 button {
  font-size: 3.5rem;
  color: #fff5d1;
  height: 70px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.topContainer img {
  width: 50%;
}
@media (max-width: 500px) {
  .topContainer img {
    width: 100%;
  }
}
.mdlSection ul {
  font-size: 2.5rem;
  padding: 0% 20%;
  line-height: 3;
  color: #ce5c33;
  text-align: center;
  list-style-type: none;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .mdlSection ul {
    line-height: 1.5;
  }
}
.mdlSection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
}
@media (max-width: 500px) {
  .mdlSection img {
    width: 100%;
  }
}
.endSection {
  width: 85%;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 2.5rem;
  color: #ce6c47;
  text-align: center;
}
.endSection h2 {
  font-family: "Lobster";
}
.body2 {
  background-image: url(../img/valley.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
}
.nav2 {
  font-family: "Lobster";
  text-align: center;
  font-size: 3rem;
  color: #fff5d1;
  margin-top: 3%;
  text-decoration: underline;
}
.nav2 button {
  font-size: 4rem;
  background: transparent;
  color: #fff5d1;
  text-decoration: none;
}
.Profile {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.Profile .Person {
  width: 30%;
  min-height: 70vh;
  background: transparent;
  color: #fff5d1;
  text-align: center;
  border: 10px solid #fff5d1;
  font-size: 2rem;
  font-family: "Lobster";
}
@media (max-width: 500px) {
  .Profile .Person {
    width: 100%;
  }
}
.Profile .Person a {
  color: white;
}
.Profile .Person img {
  width: 100%;
}
.Profile .Person p {
  width: 70%;
  padding: 1%;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  font-family: "Kalam";
  font-size: 2rem;
}
